
<h1>DaleMotor</h1>
<br>
<div class="jumbotron">
	<h1>Bienvenidos a Dalemotor!</h1>
	<br>
	<h2>Encontramos tu próximo auto usado</h2>
	<p>...</p>
	<p><a class="btn btn-success btn-lg" role="button">Inscribete ahora</a></p>
</div>
<div class="container">
<div class="row">
	<div class="col-md-6">
		<br>
		<a href="http://www.dalemotor.com"target="_blank">
			<img src="http://flickholdr.com/220/170/car" class="img-rounded"></a>

			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laboru</p>
	</div>

	<div class="col-md-6">
		<a href="http://flickholdr.com/220/170/car" class="img-rounded">link a dalemotor</a>

	</div>
</div>
</div>



